@page "/counter"
@using Messenger.Blazor.Services

@inject IMessageProducer MessageProducer
@inject IMessageHolder MessageHolder
@inject IUser User
<PageTitle>Counter</PageTitle>

<h1>Chat</h1>

<section class="discussion">

@foreach (var message in MessageHolder.MessageList)
{
    if (!message.UserName.Equals(User.Name))
    {
        <div class="name name-right">@message.UserName</div>
        <div class="bubble recipient">
            <div>@message.Text</div>
        </div>
    }
    else
    {
        <div class="msg">
                <div class="name name-left">@message.UserName</div>
                <div class="bubble sender middle" @onclick="showDeleteButtons">
                    <div>@message.Text</div>
                </div>
        </div>
        if (deleteButtonsVisible)
        {
            <div class="rm-btns">
                <button class="btn rm-btn">Usuń</button>
                <button class="btn rm-btn">Usuń u wszystkich</button>
            </div> 
        }

    }
}

<input class="inpt" @bind="Text" />
<button class="btn btn-primary" @onclick="IncrementCount">Send</button>

</section>

@code {

    private string? Text { get; set; }

    private bool deleteButtonsVisible { get; set; }

    private List<string> _messages = new();

    private void IncrementCount()
    {
        if(Text != null)
            MessageProducer.SendMessage(new Message()
            {
                UserName = User.Name,
                Text = Text
            });
    }

    private void showDeleteButtons(){

        deleteButtonsVisible = !deleteButtonsVisible;
    }
}
