@page
@using Messenger
@model Messenger.Index
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@inject IMessage Message

@{
    Layout = null;
}

<div>
    @Message.Text
</div>
<form method="post">
    Name:
    <input asp-for="m" />
    <input type="submit" />
</form>
